{{> header}}

<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-times "></span> Oops, Sorry! </h1>
        <h1>{{error.message}}</h1>
        <h2>{{error.status}}</h2>
        <h3>We cannot find this page. You can go back to  <a href="/">homepage</a></h3>
    </div>
</div>


{{> footer-end }}