<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Authentication </h1>

        <p>Login - Signup - Logout</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Signup</a>
        <a href="/logout" class="btn btn-default"><span class="fa fa-sign-out"></span> Logout</a>
        <a href="/users/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
    </div>
</div>

</body>
</html>


